<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty scope="context"
                    name="logDirectory"
                    source="logging.directory"
                    defaultValue="./logs"/>

    <springProperty scope="context"
                    name="rootLevel"
                    source="logging.level.root"
                    defaultValue="INFO"/>

    <springProperty scope="context"
                    name="springLevel"
                    source="logging.level.org.springframework"
                    defaultValue="INFO"/>

    <springProperty scope="context"
                    name="hikariLevel"
                    source="logging.level.com.zaxxer.hikari.pool"
                    defaultValue="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/order-all.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE-WARN"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/order-warn.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="METRICS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/metrics.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="metrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>

    <root level="${rootLevel}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE-WARN"/>
    </root>

</configuration>

